mqtt:
  enabled: false
database:
  path: /config/frigate.db
detectors:
  cpu1:
    type: cpu
record:
  enabled: true
  sync_recordings: false
  retain:
    days: 1
snapshots:
  enabled: true
  timestamp: true
  bounding_box: true
  retain:
    default: 30
objects:
  track:
    - person
  filters:
    person:
      min_area: 1500
      threshold: 0.7
ffmpeg:
  hwaccel_args: preset-rpi-64-h264
cameras:
  GARAGE_CAM_001:
    ffmpeg:
      inputs:
        - path: rtsp://admin:gara#3Cam@192.168.50.242:554/Streaming/Channels/102
          roles:
            - detect
        - path: rtsp://admin:gara#3Cam@192.168.50.242:554/Streaming/Channels/101
          roles:
            - record
    detect:
      width: 640
      height: 360
      fps: 5
      enabled: true
    objects:
      track:
        - person
      filters:
        person:
          min_area: 1500
          threshold: 0.7
    motion:
      enabled: true
    record:
      enabled: true
      retain:
        days: 0  # no continuous recording
        mode: active_objects  # only save during detecttions
      detections:
        pre_capture: 30
        post_capture: 30
        retain:
          days: 10
          mode: active_objects
    snapshots:
      enabled: true
      bounding_box: true
      timestamp: true
detect:
  enabled: true
version: 0.16-0